# https://editorconfig.org/

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
# don't set end_of_line; let correct git setting checkout the appropriate one for OS
charset = utf-8

[*.{json,yml,yaml,html,tf}]
indent_size = 2
ij_json_array_wrapping = normal

[*.{kt,kts}]
ktlint_code_style = intellij_idea
max_line_length = 120
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

[*Test.{kt,kts}]
ktlint_standard_max-line-length = disabled
