<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission android:name="com.mparticle.particlebox.kahuna.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.mparticle.particlebox.kahuna.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <application>

        <receiver android:name="com.kahuna.sdk.KahunaCoreReceiver" />
        <receiver
            android:name="com.kahuna.sdk.KahunaPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- MODIFICATION: Replace "com.kahuna.sample" with your package -->
                <category android:name="com.mparticle.particlebox.kahuna" />
            </intent-filter>
        </receiver>

        <service android:name="com.kahuna.sdk.KahunaPushService" />

        <receiver
            android:name="com.mparticle.MPReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <!-- Use your package name as the category -->
                <category android:name="com.mparticle.particlebox.kahuna" />
            </intent-filter>
        </receiver>
        <service android:name="com.mparticle.MPService" />

    </application>
</manifest>