# Top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
# don't set end_of_line; let correct git setting checkout the appropriate one for OS
charset = utf-8

[*.{json,yml,yaml,html,tf}]
indent_size = 2
ij_json_array_wrapping = normal

[*.{kt,kts}]
ktlint_code_style = intellij_idea
max_line_length = 150
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

# Android default ktlint rules for kits
# Uses android_studio code style with Android's default standard rules
[kits/**/*.kt]
ktlint_code_style = android_studio
indent_size = 4
continuation_indent_size = 4
max_line_length = 150
insert_final_newline = true
trim_trailing_whitespace = true
ktlint_standard_function-signature = disabled
ktlint_standard_max-line-length = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_no-unused-imports = disabled
ktlint_standard_class-signature = disabled

[tooling/**/*.kt]
max_line_length = 200

# IntelliJ/Android Studio specific (ktlint respects these too)
ij_kotlin_continuation_indent_size = 4
ij_kotlin_align_multiline_parameters = false
ij_kotlin_align_multiline_parameters_in_calls = false
ij_kotlin_call_parameters_new_line_after_left_paren = true
ij_kotlin_call_parameters_right_paren_on_new_line = true

[**/test/**/*.kt]
max_line_length = off

[**/androidTest/**/*.kt]
max_line_length = off