[submodule "kits/wootric-kit"]
	path = kits/wootric-kit
	url = git@github.com:mParticle/mparticle-android-integration-wootric.git
[submodule "kits/localytics-kit"]
	path = kits/localytics-kit
	url = git@github.com:mParticle/mparticle-android-integration-localytics.git
[submodule "kits/kochava-kit"]
	path = kits/kochava-kit
	url = git@github.com:mParticle/mparticle-android-integration-kochava.git
[submodule "kits/kahuna-kit"]
	path = kits/kahuna-kit
	url = git@github.com:mParticle/mparticle-android-integration-kahuna.git
[submodule "kits/flurry-kit"]
	path = kits/flurry-kit
	url = git@github.com:mParticle/mparticle-android-integration-flurry.git
[submodule "kits/apteligent-kit"]
	path = kits/apteligent-kit
	url = git@github.com:mParticle/mparticle-android-integration-crittercism.git
[submodule "kits/comscore-kit"]
	path = kits/comscore-kit
	url = git@github.com:mParticle/mparticle-android-integration-comscore.git
[submodule "kits/branch-kit"]
	path = kits/branch-kit
	url = git@github.com:mParticle/mparticle-android-integration-branch.git
[submodule "kits/appboy-kit"]
	path = kits/appboy-kit
	url = git@github.com:mParticle/mparticle-android-integration-appboy.git
[submodule "kits/adjust-kit"]
	path = kits/adjust-kit
	url = git@github.com:mParticle/mparticle-android-integration-adjust.git
[submodule "kits/tune-kit"]
	path = kits/tune-kit
	url = git@github.com:mParticle/mparticle-android-integration-tune.git
[submodule "kits/apptentive-kit"]
	path = kits/apptentive-kit
	url = git@github.com:mParticle/mparticle-android-integration-apptentive.git
[submodule "kits/appsflyer-kit"]
	path = kits/appsflyer-kit
	url = git@github.com:mParticle/mparticle-android-integration-appsflyer.git
