<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.mparticle.hello"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >
		<activity
			android:name="com.mparticle.hello.SplashActivity"
			android:label="@string/app_name" 
			android:exported="true" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
            <intent-filter>
                <data android:scheme="hellomparticle"
                	android:host="hello.mparticle.com"
                    android:pathPrefix="/" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
		</activity>
		<activity android:name="com.mparticle.hello.AnimationActivity" />
		<activity android:name="com.mparticle.hello.PerformanceActivity" />
		<activity android:name="com.mparticle.hello.WebServiceActivity" />

		<receiver android:name="com.mparticle.hello.ReferrerReceiver" android:exported="true">
  			<intent-filter>
    			<action android:name="com.android.vending.INSTALL_REFERRER" />
  			</intent-filter>
		</receiver>
		
        <service
            android:name="com.mparticle.hello.musicplayer.MusicService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.mparticle.hello.musicplayer.action.TOGGLE_PLAYBACK" />
                <action android:name="com.mparticle.hello.musicplayer.action.PLAY" />
                <action android:name="com.mparticle.hello.musicplayer.action.PAUSE" />
                <action android:name="com.mparticle.hello.musicplayer.action.SKIP" />
                <action android:name="com.mparticle.hello.musicplayer.action.REWIND" />
                <action android:name="com.mparticle.hello.musicplayer.action.STOP" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.mparticle.hello.musicplayer.action.URL" />
                <data android:scheme="http" />
            </intent-filter>
        </service>

        <receiver android:name="com.mparticle.hello.musicplayer.MusicIntentReceiver" >
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

				
	</application>

</manifest>
