<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mparticle.integrationtest"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".IntegrationTestApplication"
        android:allowBackup="true"
        android:icon="@android:drawable/ic_dialog_info"
        android:label="mParticle Integration Test"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light">

        <activity
            android:name=".MainActivity"
            android:label="mParticle Integration Test"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>


