<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission android:name="com.mparticle.particlebox.crashlytics.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.mparticle.particlebox.crashlytics.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <application>

        <!-- BEGIN PUSH REQUIREMENTS -->
        <receiver
            android:name="com.mparticle.MPReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.UNREGISTER" />
                <action android:name="com.android.vending.INSTALL_REFERRER" />
                <!-- Use your package name as the category -->
                <category android:name="com.mparticle.particlebox.crashlytics" />
            </intent-filter>
        </receiver>
        <service android:name="com.mparticle.MPService" />
        <!-- END PUSH REQUIREMENTS -->
    </application>
</manifest>