<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.mparticle.kits.pushsample">

    <application
        android:name=".SamplePushApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mparticle.kits.pushsample.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.mparticle.MPReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Use your package name as the category -->
                <category android:name="com.mparticle.kits.pushsample" />
            </intent-filter>
        </receiver>

        <service android:name="com.mparticle.MPService" />
    </application>

</manifest>
