<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mparticle.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!-- Required if using the NETWORK location provider -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Required only if using the GPS or PASSIVE location provider -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required for posting data to the server -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required for off-line checks -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="false" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MessagesListActivity"
            android:label="@string/title_messages_list" >
        </activity>
        <activity
            android:name=".SessionsListActivity"
            android:label="@string/title_sessions_list" >
        </activity>
        <activity
            android:name=".UploadsListActivity"
            android:label="@string/title_uploads_list" >
        </activity>
        <activity
            android:name=".CommandsListActivity"
            android:label="@string/title_commands_list" >
        </activity>
        </application>

</manifest>
