name: "Cross Platform Tests"
on: pull_request

permissions:
  contents: read
  pull-requests: read
jobs:
  cross-platform-tests:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Cross Platform Tests Repo"
        uses: actions/checkout@v6.0.2
        with:
          repository: mParticle/crossplatform-sdk-tests

      - name: "Checkout Android SDK Branch"
        uses: actions/checkout@v6.0.2
        with:
          repository: ${{github.event.pull_request.head.repo.full_name}}
          ref: ${{github.head_ref}}
          path: .sdks/android

      - name: Gradle cache
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 #v3.5.0

      - name: AVD cache
        uses: actions/cache@v5
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-cache

      - name: create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@b530d96654c385303d652368551fb075bc2f0b6b #v2.35.0
        with:
          api-level: 29
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."
      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - name: "Install JDK 17"
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: "17"
      - name: "Run Crossplatform Tests"
        uses: reactivecircus/android-emulator-runner@b530d96654c385303d652368551fb075bc2f0b6b #v2.35.0
        with:
          api-level: 29
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: |
            adb uninstall com.mparticle.kittests || true
            adb uninstall com.mparticle.kits.test || true
            adb uninstall com.mparticle.legacyTest || true
            adb uninstall com.mparticle.test || true
            adb uninstall com.mparticle.cpt.testing.test || true
            ./gradlew runAndroid
      - name: "Archive Test Results"
        if: ${{ always() }}
        uses: actions/upload-artifact@v6
        with:
          name: "test-results"
          path: Tests/build/reports/androidTests/connected/**
