name: "Cross Platform Tests"
on:
  pull_request
jobs:
  cross-platform-tests:
    timeout-minutes: 30
    runs-on: macOS-12
    steps:
      - name: "Checkout Cross Platform Tests Repo"
        uses: actions/checkout@v4
        with:
          repository: mParticle/crossplatform-sdk-tests
          
      - name: "Checkout Android SDK Branch"
        uses: actions/checkout@v4
        with:
          repository: ${{github.event.pull_request.head.repo.full_name}}
          ref: ${{github.head_ref}}
          path: .sdks/android
          
      - name: Gradle cache
        uses: gradle/gradle-build-action@842c587ad8aa4c68eeba24c396e15af4c2e9f30a #v2.9.0

      - name: AVD cache
        uses: actions/cache@v3
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-cache

      - name: create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@d94c3fbe4fe6a29e4a5ba47c12fb47677c73656b #v2.28.0
        with:
          api-level: 29
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."
          
      - name: "Install JDK 17"
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"
      - name: "Run Crossplatform Tests"
        uses: reactivecircus/android-emulator-runner@d94c3fbe4fe6a29e4a5ba47c12fb47677c73656b #v2.28.0
        with:
          api-level: 29
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: ./gradlew runAndroid
      - name: "Archive CPT Test Results"
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: "cpt-test-results"
          path: Tests/build/reports/androidTests/connected/**
          overwrite: true
