name: "Cross Platform Tests"
on:
  pull_request
jobs:
  cross-platform-tests:
    timeout-minutes: 30
    runs-on: macos-latest
    steps:
      - name: "Checkout Cross Platform Tests Repo"
        uses: actions/checkout@v3
        with:
          repository: mParticle/crossplatform-sdk-tests
      - name: "Checkout Android SDK Branch"
        uses: actions/checkout@v3
        with:
          repository: ${{github.event.pull_request.head.repo.full_name}}
          ref: ${{github.head_ref}}
          path: .sdks/android
      - name: "Install JDK 11"
        uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: "11"
      - name: "Setup NPM"
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm install
      - name: "Run Crossplatform Tests"
        uses: reactivecircus/android-emulator-runner@b35b1c6e6921ebfd3f980c2236ac298f019df53a #v2.28.0
        with:
          api-level: 29
          script: ./gradlew runAndroid
      - name: "Archive Test Results"
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: "test-results"
          path: Tests/build/reports/androidTests/connected/**
